<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.mapper.UserMapper">
	<resultMap type="user" id="userMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="birthday" property="birthday"/>
	</resultMap>
 	<select id="select" resultMap="userMap">
 		select * from cms_user
 	<where>
 		<if test="null!=name and name !=''">
 				and username like '%${name}%'
 		</if>
 		<if test="null!=day1 and day1!=''">
				and birthday >= #{day1}
			</if>
			<if test="null!=day2 and day2!=''">
				and birthday &lt;= #{day2}
			</if>
 	</where>
 	</select>
</mapper>